<div id="home">
  <h2><%= TR("home.question") %></h2>
  <form class='form-horizontal'>
    <input id="general-kwds" type="search"</input>
    <button class='btn'><%= TR('actions.search') %></button>
  </form>
  <div id='browse'>
    <a href="<%= App.p('/offered-ads') %>"><%= TR('home.browse') %></a>
  </div>
</div>  
