<div id="home">
  <h2><%= TR("home.question") %></h2>
  <form class='form-horizontal'>
    <input id="general-kwds" type="search"</input>
    <button class='btn'>搜索</button>
  </form>
  <div id='browse'>
    或<a href="<%= App.p('/offered-ads') %>">浏览招聘信息</a>
  </div>
</div>  
