<div id='search-bar'>
  <form id="search-form" class='form-horizontal'>
    <input id="general-kwds" value="<%= kwds %>" type="search" placeholder="您需要什么样的工作？"></input>
    <button class='btn'><%= TR('actions.search') %></button>
  </form>
</div>
