development:
  adapter: postgresql
  encoding: unicode
  database: yourdb_development
  pool: 50
  username: yourdb
  password: yourpwd
  port: 5432
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: yourdb_test
  pool: 50
  username: yourdb
  password: yourpwd
  port: 5432
  host: localhost

production:
  adapter: postgresql
  encoding: unicode
  database: yourdb_production
  pool: 50
  username: yourdb
  password: yourpwd
  port: 5432
  host: localhost
