/*= require_tree .  */

* { margin: 0; padding: 0}
ul { list-style-type: none; }
header, footer, #notification-area, #app-body { margin: 1em }

#notification-area {
  min-width: 30%;
  max-width: 50%;
}

.dismissor {
  float: right;
}
