/*= require_tree .  */

* { margin: 0; padding: 0; border: none}
ul { list-style-type: none; }
#notification-area, #app-body { margin: 1em }
.display-none { display: none; }

body, html {
  height: 100%;
}

#content-container {
  height: auto !important;
  min-height: 100%;
  margin-bottom: -60px;
  overflow: hidden;
}

#pusher {
  height: 60px;
}
