/*= require_tree .  */

* { margin: 0; padding: 0}
ul { list-style-type: none; }
header, footer, #notification-area, #app-body { margin: 1em }
.display-none { display: none; }

#notification-area {
  min-width: 30%;
  max-width: 50%;
}

.dismissor {
  float: right;
  margin: -.5em -2em 0 0;
  color: #333;
}

#progress-bar {
  position:absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 6%;
  padding: 2%;
  margin: -5% 0% 0% -14%;
  border: 1px solid #AAA;
  border-top: 10px solid #AAA;
  background-color: #FFF;
  font-size: 1em;
  text-align: center;
}
