#job-categories {
  border: 3px solid #008080;
  border-radius: 5px;
  padding: .5em;
  text-align: center;
}

#job-categories ul {
 text-align: left;
}

#job-categories ul li label input {
  margin-right: 5px;
}
