#main-nav img {
  height: 3em;
  border-bottom: 3px solid #008080
}

#main-nav > .row > div:not(:first-child) {
  vertical-align:middle;
  display:inline-block;
  line-height: 3em;
  text-align:center;
  margin: 0 .5em 0;
  border-bottom: 3px solid #00C0C0
}
