#notification {
  min-width: 30%;
  max-width: 50%;
  position: relative;
}

#notification button {
  position: absolute;
  top: .3em;
  right: .3em; 
}

#notification ul {
  list-style-type: disc;
}
