#offered-ads {
  margin-left: 2%;

  .result-message {
    font-size: .9em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .ad-main {
    margin-bottom: 2em;
  }
  
  h4 {
   margin-bottom: 0;
  }

  .body-preview {
    color: #666;
    margin-top: .3em;
  }
}
