#offered-ads {
  margin-left: 2%;
}

#offered-ads .result-message {
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 1em;
}

#offered-ads .ad-main {
  margin-bottom: 2em;
}
  
#offered-ads h4 {
  margin-bottom: 0;
}

#offered-ads .body-preview {
  color: #666;
  margin-top: .3em;
}

