<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/assets/app.css" type="text/css" media="all" />
    <script type="text/javascript" src="/assets/app.js"></script> 
    <title>工作蚂蚁</title>
  </head>
  <body>
    <div id="content-container">
      <header>
        <nav id="main-nav">
          <div class="row">
            <div class="span2"><a href="/"><img src="/i/logo_small.png" /></a></div>
            <div class="span2"><a href="/offered-ads">浏览招聘贴</a></div>
            <div class="span2"><a href="/offered-ads/new">创建新招聘贴</a></div>
          </div>
        </nav>
      </header>
      <div id="app-body">
      </div>
      <div id="progress-bar" class="display-none"></div>
      <div id="pusher"></div>
    </div>
    <footer>
      <a href="/"><img src="/i/icon.png" alt="icon" /></a> jobs4ants.com by sk | contact: cs@[this domain]
    </footer>
  </body>
</html>
