<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="assets/app.css" type="text/css" media="all" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script type="text/javascript" src="assets/app.js"></script> 
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <title>工作蚂蚁</title>
  </head>
  <body>
    <header>
      <div id="logo-container"></div>
      <div id="search-bar"></div>
    </header>
      <div id="notification-area"></div>
      <div id="app-body">
        <div class="row">
          <div class="span2" id="job-categories">
          </div>
          <div class="span10" id="ads-body">
          </div>
        </div>
      </div>
      <div id="progress-bar" class="display-none" />
    <footer>
    </footer>
  </body>
</html>
