<div id='delete-offered-ad'>
  <div>你确定要把你的帖子"<%= model.get('title') %>"删除吗？</div>
  <div class='form-actions'><button class="btn btn-primary btn-large">是</button><a href='/' class="btn btn-large">取消</a></div>
<div>
