<div id='indexOfferedAds' class='ads'> 
<% for(var i=0; i < models.length; i++) { %> 
  <div class="row">
    <div class="span1"><%= models[i].get('id') %></div>
    <div class="span8"><%= models[i].get('title') %></div> 
  </div>
<% } %> 
</div>
